
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    background-image: url('../assets/image/background/11.png');
    background-size: cover;
    background-position:top;
}

.bar {
    -webkit-app-region: drag;
    height: 60px;
    width: 100%;
    background-color: #333;
    text-align: right;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.4);
}

.rouded {
    border-radius: 30px;
    width: 100%;
}

.menu-btn {
    width: 30px;
    height: 30px;
    -webkit-app-region: no-drag;
    transform: translate(-50%, +45%);
    border-radius: 5px;
    border-width: 0px;
}

.menu-btn:hover {
    background-color: #000000;
    border-color: #000000;
    border-width: 0px;
}

#title {
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    background-image: url('../assets/image/icons/logo.png');  
    background-size: cover;
    background-position:center;
}

#sidebar {
    position: fixed;
    right: 10px;
    top: 80px;
    bottom: 10px;
    width: 300px;
    height: auto;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    display: grid;
    align-items: start;
    overflow-y:auto;
    overflow-x: hidden;
    opacity: 0.95;
}

/* #sidebar h2 {
    margin-top: 0;
} */

.song-list {
    /* list-style: none; */
    /* padding: 0; */
    height: 100%;
    
}

/* personalizza la scrollbar */
#sidebar::-webkit-scrollbar {
    width: 10px;
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 3px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.item {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: solid 1px rgb(129, 129, 129);
    display: flex;
}

.song-delete {
    margin-left: auto;
    cursor: pointer;
}

.song-list div:hover {
    background-color: rgb(129, 129, 129);
}

.song-duration {
    margin-left: auto;
    font-size: 13px;
    color: rgb(158, 156, 156);
}

#file {
    position: absolute;
    bottom: 13px;
    right: 13px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #333;
    border: solid 1px rgb(129, 129, 129);
    opacity: 1;
    cursor: pointer;
}

#file:hover {
    background-color: black;
    color: white;
}

.playing {
    background-color: rgb(0, 0, 0);
}

#shuffle {
    position: absolute;
    bottom: 13px;
    left: 13px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #333;
    border: solid 1px rgb(129, 129, 129);
    opacity: 1;
    cursor: pointer;
}

#shuffle:hover {
    background-color: rgb(129, 129, 129);
    color: white;
}

#shuffle.active {
    background-color: rgb(0, 0, 0);
}