.play-button {
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: #45a049;
}

.bar {
    -webkit-app-region: drag;
    height: 60px;
    width: 100%;
    background-color: black;
    text-align: right;
    position: relative;
    border-radius: 10px;
}

.rouded {
    border-radius: 30px;
    width: 100%;
}

.menu-btn {
    width: 30px;
    height: 30px;
    -webkit-app-region: no-drag;
    transform: translate(-50%, +45%);
    border-radius: 5px;
    border-width: 0px;
}

.menu-btn:hover {
    background-color: #333;
    border-color: #333;
    border-width: 0px;
}